# ==========================================
# THƯ MỤC BUILD & KẾT QUẢ BIÊN DỊCH
# Chặn các thư mục sinh ra khi bấm nút Play
# ==========================================
x64/
x86/
Debug/
Release/
bin/
obj/
out/

# ==========================================
# RÁC CỦA VISUAL STUDIO
# Chặn các cấu hình cá nhân của từng máy
# ==========================================
.vs/
*.user
*.suo
*.db
*.log
*.idb
*.pdb
*.ilk
*.tlog

# ==========================================
# NUGET PACKAGES
# Chặn thư viện tải về vì VS sẽ tự tải lại
# ==========================================
packages/
*.nupkg

# ==========================================
# RÁC HỆ ĐIỀU HÀNH
# Đề phòng máy Mac hoặc Windows tự sinh ra
# ==========================================
.DS_Store
Thumbs.db


# Bỏ qua thư mục rác trung gian của project
fop-caro-temp/